{% extends 'mainapp/base.html' %}

{% block title %}
    <title>Контакты</title>
{% endblock %}

{% block content %}
    <h1>Контакты</h1>
    <hr>
    <form class="form" action="">
        Ваше имя <input type="text" placeholder="Ваше имя" style="text-transform: capitalize"><br>
        Адрес электронной почты <input type="email" class="email" placeholder="email" style="text-transform: capitalize"><br>
        Телефон <input type="text" placeholder="+7XXXXXXXXXX"><br>
        Ваш пол<br>
        М <input type="radio" name="pol"><br>
        Ж <input type="radio" name="pol"><br>
        <input type="submit" value="Отправить данные"> <input type="reset" value="Отмена">
    </form>
    <hr style="border-bottom-style: dashed">
    Обратная связь: Где-то в Москве.<br>
    <div style="overflow:hidden;width: 100%;height: 354px;"><iframe width=100% height=354px src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=Moscow%2C%20Russia+(%D0%9C%D0%B0%D0%BF%D0%B5%D1%82%D0%BA%D0%B8%20%D0%B8%20%D0%B2%D1%81%D1%91%20%D0%BF%D1%80%D0%B8%D0%BB%D0%B0%D0%B3%D0%B0%D1%8E%D1%89%D0%B5%D0%B5%D1%81%D1%8F)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <div><small><a href="https://embedgooglemaps.com/ru/">embedgooglemaps RU</a></small></div>
        <div><small><a href="https://iamsterdamcard.it">iamsterdamcard.it</a></small></div>
        <style>
            #gmap_canvas img {
                max-width: none !important;
                background: none !important
            }
        </style>
    </div><br />
{% endblock %}
