{% extends 'mainapp/base.html' %}

    {% block title %}
        <title>Главная</title>
{#        <h1>Пользователь: {{ request.user.username|title }}</h1>#}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="./../../static/mainapp/css/style.css">

    </div>
        {% block content %}

            <div>
                <h1>"Мапетки и всё прилагающееся"</h1>
                <p>Приветствую на сайте "Мапетки и всё прилагающееся"</p>

            <br>

            </div>
        {% endblock %}

</html>